.stats__btn {
  margin-top: auto;
  border: 0;
  background-color: #fff;
  outline: none;
  cursor: pointer;
  color: #a6cc2b;
  font-weight: 400;
  font-family: Arial, Tahoma, Verdana, sans-serif;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
}

.stats__img {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}
